*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background-color: #1d1d1d;
}
.simple-table {
	/*background:#e6e6e6;*/
	background:#262626;
	width: 80%;
	margin: 20px auto;
	min-width: 280px;
}

.simple-table table{
	width: 100%;
}

.simple-table thead{
	display: none;
}

.simple-table tbody{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 10px 30px;
	padding: 5px 20px;
}


/*=====================
	Uncomend if you want the order to be like in the exercise
	=================*/
	
/*.simple-table .elem-1{
	order: 1;
}
.simple-table .elem-2{
	order: 3;
}
.simple-table .elem-3{
	order: 5;
}
.simple-table .elem-4{
	order: 7;
}
.simple-table .elem-5{
	order: 2;
}
.simple-table .elem-6{
	order: 4;
}
.simple-table .elem-7{
	order: 6;
}
.simple-table .elem-8{
	order: 8;
}*/

.simple-table tr{
	color: #289dcc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px dashed #cccccc;
}

.simple-table td:first-child{
	color: #cccccc;
}

.simple-table td:first-child:before{
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background-color: #289dcc;
	position: absolute;
	
	float: left;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.simple-table td{
	padding: 10px;
}

@media only screen and (min-width: 768px) {
	.simple-table tbody{
		grid-template-columns: 1fr 1fr;
	}
}